@import './base.css';

#app {
  max-width: min(calc(100% - 2rem), 840px);
  background-color: var(--clr-neutral-white);
  border-radius: 2rem;
  border-bottom-right-radius: clamp(6.25rem, 0.463rem + 24.691vw, 12.5rem);
}

